<!-- further extending layout -->
{% extends "layout.html" %}

<!-- further extending title tag -->
{% block head %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='chatbox.js') }}"></script>
{% endblock %}

<!-- further extending title tag -->
{% block title %}
  {{channel_name}}
{% endblock %}

<!-- futher extending body tag -->
{% block body %}

<header>
	  Logged in as <div id="dname">{{ name }}</div>
</header>

<section>
  <nav>
    Channels <p>
    <p>
      <table class="hoverTable" id="hoverTable">
      </table>
    <p>
    <form id="new_channel">
      <input id="channel_name" type="text" name="new_channel" class="chn_name" autocomplete="off" autofocus placeholder="new_channel">
      <input class="btn btn-primary" id="submit" type=submit>
    </form>
    <p>
      Direct Messages<br>
      <table class="hoverTable" id="user_list">
	    </table>
      <p>
      <button id="logout_button" type=submit>Log Out</button>
  </nav>

  <article>
    <h4 id="message_header">Messages</h4>
    <table class="hoverTable" id="message_list">
	  </table>
    <h4>Enter new message</h4>
    <form id="new_message">
      <textarea class="newchn_msg" id="message_text" placeholder="Enter message here" wrap="soft">
	    </textarea>
      <input type="hidden" value= {{ name }} id="displayname">
      <input id="msg_submit" type="submit">
    </form>

  </article>
</section>
{% endblock %}
