<!-- further extending layout -->
{% extends "layout.html" %}

<!-- further extending title tag -->
{% block title %}
  Welcome to Open Source Chatrooms
{% endblock %}

{% block head %}
{% endblock %}

<!-- futher extending body tag -->
{% block body %}
  <h2 id="myname"></h2>
  <h4 id="welcome"></h4>
  <p>
    <form id="login_form" action="{{ url_for('coochat') }}", method="post">
      <table>
        <tr>
          <td class="bold">Display Name:</td>
          <td><input id="dname_field" type="text" name="displayname" size="50" required></td></tr>
      </table>
      <button class="btn btn-primary"  name="signin" id="signin">Sign In</button>
    </form>
{% endblock %}
