* {
  box-sizing: border-box;
}

/* this class selector colors the font inside display_index */
.display_index {
  color: white;
}

  /* Style the header */
header {
  background-color: grey;
  padding: 30px;
  text-align: center;
  font-size: 18pt;
}

h4 {
  color: white;
}

nav {
  float: left;
  width: 30%;
  background: #3D3A39;
  padding: 10px;
  border-style: solid none none none;
  border-color: #9cc105;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #3D3A39;
  border-style: solid dashed solid dashed;
  border-color: #9cc105;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

select, #channels {
 	min-width: 100px;
}


input [type=text] {
  margin: 8px 0;
  padding: 12px 12px;
  box-sizing: border-box;
  font-size: 14pt;
}

form {
  margin: 2px 0;
  padding: 2px 2px;
  box-sizing: border-box;
}

textarea {
  font-size: 14pt;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3D3A39;
}

div {
  padding: 25px;
  margin: 20px;
}

nav {
  color: white;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}

#small {
  width: 25%;
}

h1 {
  font-family: "Times New Roman", sans-serif;
  font-size: 24pt;
  text-align: center;
  color: white;
}

h2 {
  font-family: "Times New Roman", sans-serif;
  font-size: 18pt;
  text-align: center;
  color: black;
}

.heading1 {
  color: white;
}

.dname {
  font-family: "Times New Roman", sans-serif;
  font-size: 12pt;
  padding-left: 20px;
  text-align: right;
  color: #202801;
}

.tstamp {
 	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono;
  font-size: 8pt;
  text-align: left;
  color: blue;
}

table {
  border-collapse: collapse;
  width: 75%;
}

th, td {
  padding: 5px;
}

th {
  height: 35px;
  text-align: left;
  background-color: #99a0aa;
}

td {
  vertical-align: top;
  text-align: left;
}

.hoverTable{
   width:100%;
   border-collapse: collapse;
   color: black;
}
     /* .hoverTable td{
     /* 	padding:7px; border:#4e95f4 1px solid;
     /*	}
     /
     * Define the default color for all the table rows */
.hoverTable tr{
   background: #f7f6b9;
}

     /* Define the hover highlight color for the table row */
.hoverTable tr:hover {
   background-color: #ffff99;
}

#message_list {
   background-color: #f3f4d9;
   border: none;
   width: 100%;
   height: auto;
}

#message_header {
  color: white;
}


#message_list td {
   padding: 7px;
   border: black 1px solid;
}

.newchn_msg {
   width: 100%;
   height: auto;
}
